<!doctype html>

<head>
    <meta charset="utf-8">
    <title>党史影像</title>
    <link type="text/css" rel="stylesheet" href="党史影像.css" />
</head>


<body>
    <div class="box">
        <div class="box2">

            
            <div class="panel-body" style="height: 98%; overflow-y:scroll">
                <div style="border: 1px  #000000; width: 100%; margin: 0 auto;">
                    <div class="title">
                        <img src="./img/选集.png" alt="" width="25%">
                    </div>
                    <div class="content">
                        <div class="content1">

                            <div class="little-box1">
                                <a href="./金刚川/金刚川.mp4">
                                    <img class="little-box-img" src="./img/金刚川.png" alt="Card image cap">
                                </a>

                            </div>
                            <div class="little-box2">
                                <a href="./我和我的祖国/我和我的祖国.mp4">
                                    <img class="little-box-img" src="./img/我和我的祖国.png" alt="Card image cap">
                                </a>

                            </div>
                        </div>
                        <div class="content2">
                            <div class="little-box3">
                                <a href="./我和我的家乡/我和我的家乡.mp4">
                                    <img class="little-box-img" src="./img/我和我的家乡.png" alt="Card image cap">
                                </a>

                            </div>
                            <div class="little-box4">
                                <a href="./建军大业/建军大业.mp4">
                                    <img class="little-box-img" src="./img/建国大业.png" alt="Card image cap">
                                </a>

                            </div>
                        </div>
                        <div class="content3">
                            <div class="little-box5">
                                <a href="./建党伟业/建党伟业.mp4">
                                    <img class="little-box-img" src="./img/建军伟业.png" alt="Card image cap" width="50% "
                                        height="100%">
                                </a>

                            </div>
                            <div class="little-box1">
                                <a href="">
                                    <img class="little-box-img" src="./img/白.png" alt="Card image cap">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    </div>



</body>

</html>