.bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tip {
  margin-bottom: 2em;
  background: #eff0f4;
  padding: 0.5em 1em;
  border-radius: 1em;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.container {
  display: flex;
  width: 94vw;
  border-radius: 1em;
  padding: 2em 0;
  background: white;
  flex-direction: column;
  align-items: center;
}

.qrcodewrapper {
  position: relative;
  --offset: -0.2em;
}

.border {
  position: absolute;
  width: 2em;
  height: 2em;
  background: var(--main-clr);
}

.tl {
  top: var(--offset);
  left: var(--offset);
}

.tr {
  top: var(--offset);
  right: var(--offset);
}

.bl {
  bottom: var(--offset);
  left: var(--offset);
}

.br {
  bottom: var(--offset);
  right: var(--offset);
}

.qrcode {
  position: relative;
  width: 80vw;
  height: 80vw;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  width: 60vw;
  height: 60vw;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.94);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  --color: var(--main-clr);
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 6px solid var(--color);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 6px solid var(--color);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 6px solid var(--color);
}

.btn {
  margin-top: 2em;
}
